
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    color: #fff;
    background: linear-gradient(180.00deg, rgba(17.41, 17.41, 17.41, 1) 0%);
}
/* Shared Style */
.display-flex{
    display: flex;
}
.primary-color{
    color: #E6533C;
}
.bg-primary{
    background-color: #E6533C;
}
.active{
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
}
.active:hover{
    background-color: #fff;
    color: #E6533C;
    border: 1px solid #E6533C;
}
.mx-1240{ 
    max-width: 70%;
    margin: 0 auto;
}
.primary-title{
    font-size: 48px;
    margin-bottom: 14px;
}
.primary-description{
    font-size: 14px;
    color: #ffffff75;

}
/* Navbar style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    list-style: none;
    border: 1px solid rgba(128, 128, 128, 0.527);
    padding: 5px 0;
    border-radius: 46px;
}
.nav-item{
    margin-right: 30px;
    padding: 8px 13px;
}
.nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    
}
.navbar>h2{
    font-size: 2.25rem;
    font-weight: bolder;
    font-style: italic;
}
.hamburger{
    display: none;
    margin-right: 20px;
}



/* Banner section */
.banner-container{
    align-items: center;
    margin-top: 33px;
}
.banner-headline,.banner-image{
    max-width: 50%;
}
.banner-title{
    font-size: 5rem;
}
.banner-description{
    color: #ffffff88;
    margin: 28px 0;
}
/* Button style */
.btn-items{
    width: 100%;
    gap: 16px;
}
.btn-primary{
    width: 50%;
    font-weight: 700;
    color: #fff;
    padding: 16px 46px;
    border-radius: 46px;
    background-color: #E6533C;
    border: 1px solid transparent;
}
.btn-secondary{
    width: 50%;
    font-weight: 700;
    color: #fff;
    padding: 16px 46px;
    border-radius: 46px;
    border: 1px solid white;
    background-color: transparent;
}
/* Hidden */
.hidden{
    display: none;
}


.banner-image{
    position: relative;
}
.banner-image img{
    display: block;
    margin-left: 52%;
}
/* tooltip style */
.tooltip1,.tooltip2{
    width: 195px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}
.tooltip1{
    position: absolute;
    top: 25%;
    right: -70%;
    
}
.tooltip2{
    width: 215px;
    position: absolute;
    bottom: 15%;
    right: 20%;
}
.tooltip-container h4{
    font-size: 2.5rem;
}
.tooltip-container p{
    font-size: 13px;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 20px;
}







/* Header Style */
header{
    padding-top: 57px;
    
}


/* Habit Card Section */
main{
    background-color:rgba(0, 0, 0, 1);
}
.habit-section{
    padding-top: 100px;
}
.habit-container{
    text-align: center;
}

.habit-card{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 100px;
    margin-top: 60px;
    justify-content: space-around;
}
.card{
    
}
.card img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 1px solid gray;
}
.card h4{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}
.card p{
    color: #ffffff75;
    font-size: 14px;
}
/* Run Section */
.run-section{
    display: flex;
    align-items: center;
    gap: 165px;
    padding: 40px;
    background-color: #222222;
    border: none;
    border-radius: 18px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.run-section .primary-description{
    margin-bottom: 34px;
}

.run-section .btn-primary{
    width: ;
}

.run-section .image-area img{
    width: 100%;
    border-radius: 18px;
}
/* Training section */
.training-section p{
    padding-bottom: 58px;
}
.exercises{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(2, 250px);
    margin-bottom: 50px;
}
.exercises img{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}
.exercises p{
    padding: 0;
}
.box1,.box2,.box3,.box4,.box5,.box6{
    position: relative;
}
.box1{
    background: rgb(1, 244, 200);
}
.box1>p ,.box3>p ,.box5>p,.box6>p{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.box2>p,.box4>p{
    position: absolute;
    top: 20px;
    right: 20px;
}
.box2{
    background-color: rgba(255, 93, 93, 0.805);
    grid-column: 2/span 2;
}
.box3{
    background-color: rgba(231, 180, 180, 0.5);
    grid-column: 4/span 5;
    
}

.box4{
    background-color: rgba(246, 144, 144, 0.937);
    grid-column: 1/span 2;
}
.box5{
    background-color: rgba(137, 254, 95, 0.756);
}
.box6{
    background-color: rgba(58, 106, 229, 0.836);
}


































@media screen and (max-width: 576px){
    .mx-1240{
        max-width: 95%;
    }
    header{
    max-width: 100%;
    
    }
    .hamburger i{
        font-size: 20px;
    }
    .brand{
        padding: 0 20px;
    }
   .nav-links{
    display: none;
   }
   .banner-container{
    flex-direction: column;
   }
   .hamburger{
    display: inline;
    }
    .banner-title{
    font-size: 3.5rem;
    }
   .banner-headline,.banner-image{
    max-width: 100%;
    padding: 0 20px;
    }
    /* Banner */

    .banner-image img{
        margin: 20px;
        margin-bottom: 0;
        width: 100%;
        
    }
   /* Button style */
   
    .btn-primary,.btn-secondary{
        font-weight: 600;
        padding: 16px 20px;
    }
    .tooltip1,.tooltip2{
    width: 145px;
    height: 74px;
    }
    .tooltip1{
        position: absolute;
        top: 22%;
        right: 8%;
        
    }
    .tooltip2{
        width: 175px;
        position: absolute;
        bottom: 15%;
        left: 6%;
    }
    .tooltip-container h4{
    font-size: 1.5rem;
    }
    .tooltip-container p{
        font-size: 10px;
    }
    .circle{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin-right: 10px;
    }
    /* habit section */
    .habit-card{
        grid-template-columns: repeat(1 , 1fr);
        gap: 10px;
        margin-top: 30px;
    }
    .card img{
        margin-top: 20px;
    }
    /* run section */
    .run-section{
        flex-direction: column;
        gap: 40px;
    }
    .run-section .btn-primary{
        width: 100%;
    }

    .exercises{
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(2, 150px);
        margin-bottom: 50px;
    }

    .box1{
        grid-column: auto;
    }
    
    .box2{
        grid-column: auto;
    }
    .box3{
        display: none;
    }
    .box4{
        grid-column: auto;
    }
    .box5{
        grid-column: auto;
    }
    .box6{
        display: none;
    }
}